/* font-family: "Inter", sans-serif;font-family: "Merriweather", serif; */
*{
    margin: 0;
    padding: 0;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
   
}
.primary-color{
    color: #FF0000;
}
.description{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(155, 155, 155);
    margin: 22px 0 48px 0;
}
a{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}
h2{
    font-family: "Merriweather", serif;
}
/* banner style */
.banner{ 
    font-family: "Merriweather", serif;
    color: #ffffff;
    background-image: url('../images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.36);
    background-blend-mode: multiply;
    padding: 177px 295px;
    border-radius: 16px;
    margin-top: 50px;
}
.banner h2{
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 16px;
}
.banner p{
    font-size: 72px;
    font-weight: 700;
}
/* 65% OFF Style */
.off-section{
    
    text-align: center;
    margin: 120px 0;
    font-weight: 700;
}
.off-section h1{
    font-size: 88px;
}
.off-section .off-title{
    font-size: 24px;
    margin: 48px 0 16px 0;
}
.off-section .off-sub-title{
    font-size: 48px;
    color: #070211;
    margin-bottom: 48px;
}
/* join now section */
.join-now{
    background-image: url('../images/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.36);
    background-blend-mode: multiply;
    padding: 126px 450px 126px 126px;
    color: #ffffff;
    border-radius: 16px;
}
.join-now p{
    color: #ffffff;
}
.join-now .join-now-title{
    font-size: 64px;
    font-weight: 600;
}
.join-now a:hover{
    cursor: pointer;
    color: #FF0000;
}
/* time-date style */
.time-date{
    background-image: linear-gradient(rgb(248, 212, 212), rgb(255, 255, 255));
    border-radius: 16px;
    padding: 100px 0;
    margin: 120px 0;
    text-align: center;
    font-size: 32px;
    color: #070211;
    font-weight: 700;
    line-height: 1.6;
}
.time-date .btn{
    font-size: 20px;
    color: #ffffff;
    background-color: #FF0000;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    margin-top: 48px;
}
/* Coming soon section style */
.coming-soon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:50px;
}
.coming-soon .coming-soon-img{
    text-align: center;
    border: 15px solid #FF0000;
    padding: 50px;
    border-radius: 50%;
    margin-right: 50px;
}
.coming-soon .coming-soon-description h2{
    font-size: 48px;
    font-weight: 800;
    margin-top: 16px;
}
.coming-soon .coming-soon-year{
    font-size: 48px;
}
/* holidays-sale styles */
.holidays-sale{
    margin: 120px 0;
    text-align: center;
}
.holidays-sale .holidays-sale-title{
    font-size: 24px;
    font-weight: 500;
}
.holidays-sale .holidays-sale-subtitle{
    font-size: 72px;
    margin-top: 16px;
}
.holidays-sale .holidays-sale-img{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.holidays-sale .holidays-sale-right{
    position: relative;
    top:0;
    left: 0;   
}
.holidays-sale-right .holidays-sale-right-child1{
     position: absolute; 
     bottom: 0;
     right: 0;
}
.holidays-sale-right .holidays-sale-right-child2{
     position: absolute; 
     bottom: 60px;
     right: 250px;
}
.holidays-sale .holidays-sale-img-left{
    z-index: 1;
}
.holidays-sale .holidays-sale-img-left img{
    max-width: 80%;
    margin-bottom: -150px;
}
.holidays-sale .holidays-sale-below-img{
    max-width: 1140px;
    z-index: -1;
}
/* portfolio styles */
.portfolio .portfolio-title{
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}
.portfolio .portfolio-img-left, .portfolio-img-right{
    display: flex;
    gap: 24px;
    align-items: center;
}
.portfolio .portfolio-img-left{
    margin-bottom: 24px;
}
.portfolio .portfolio-img img:hover{
    cursor: pointer;
    border-radius: 20px;
    border: 5px solid #FF0000;
}
/* Subscribe styles */
.subscribe{
    text-align: center;
    background-color: rgba(250, 233, 233, 0.938);
    margin: 120px 0;
    padding: 80px 212px;
    border-radius: 16px;
}
.subscribe .subscribe-title{
    font-size: 48px;
    font-weight: 800;
    margin-top: 40px;
}
.subscribe .subscribe-input input[type="email"]{
    padding: 25px 300px 25px 30px;
    border: none;
    border-radius: 50px;
}
.subscribe .subscribe-btn{
    padding: 24px 56px;
    color: #ffffff;
    background-color: #FF0000;
    border-radius: 0 50px 50px 0;
    border: none;
    margin-left: -50px;
}
/* footer style */
footer{
    background-color: #070211;
    color: #ffffff;
    font-size: 24px;
}
.footer-info-details{
    max-width: 1140px;
    padding: 120px 0;
    margin: 0 auto;
}
.footer-info-details .footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-info-details .footer-info{
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff5e;
}
.footer-info-details .footer-details i{
    margin-right: 5px;
}
.footer-info-details .footer-info-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff5e;
    padding: 50px 0;
}
.footer-info-details .footer-last-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}